<div class="card shadow mb-3 card_item">
  <div class="card-body">
    <form class="form my-3" *ngIf="shoppingItem">
      <input type="text" [(ngModel)]="shoppingItem.name" placeholder="Title" name="itemName"
        class="form-control px-4 my-4">
      <input type="text" [(ngModel)]="shoppingItem.img" placeholder="Img" name="itemImg"
        class="form-control px-4  my-4">
      <input type="text" [(ngModel)]="shoppingItem.description" placeholder="ItemDescription" name="itemDescription"
        class="form-control px-4  my-4">
      <div *ngIf="isShowAlert" class="alert alert_msg p-2 text-center"
        [ngClass]="{'alert-success': msg.result,'alert-danger': !msg.result}" role="alert">{{msg.text}}</div>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="updateItem()">Update</button>
        <button class="btn btn-secondary" (click)="cancelItem()">Cancel</button>
      </div>
    </form>
  </div>
</div>
